footer {
    position: fixed;
    background-color: #FFF;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCC;
}

footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}
