footer {
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    height: 60px;
    width: 100%;
}

footer p {
    text-align: center;
    margin: 20px;
}